# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data (Not tracking heavy/intermediate files)
data/interim/*
data/processed/*

# Ignore trained models
models/

# IDE
.vscode/
.idea/